body{
    font-family: Arial, sans-serif;
}
.bgr{
    background-color: rgb(248,246,242);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.k1{
    border: 1px solid rgb(255, 255, 255);
    width: 680px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.a1{
    height: 115px;
    width: 160px;
} 
.cangiua{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe{
    padding: 10px 20px;
    background-color: 
    #4a4a4a;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tips{
    padding: 10px 20px;
    background-color: 
    #4a4a4a;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.recipe, .tips {
    display: inline-block; /* Hiển thị trên cùng một hàng */
    margin-right: 10px; /* Khoảng cách giữa các nút */
}
.text1{
    color:#4a4a4a;

}
.k2{
    border: 1px solid rgb(255, 255, 255);
    width: 680px;
    height: 260px;
    background-color:  rgb(248,246,242);
}
.k2img{
    border-radius: 5px;
    height: 200px;
    margin-right: 5px;
    
}
.canngang{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.ngang{
display: flex;
justify-content: space-between;
}
.button1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  rgb(248,246,242);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowright{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3;
    margin-left: 20px;
}
.k3{
    width: 680px;
    background-color: rgb(248,246,242);
    margin-bottom: 30px;
    
}
.k4{
    
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.kk4{
    width: 65%;
    
}
.a2{
    width:100%;
}
.k41{ 
    width: 67%;
    top: 0;
    left: 16%;
    padding-left: 10px;
    
}
.k42{
    width: 30%;
    top: 0;
    right: 16%;
    padding-left: 10px;
    
}
.cden1{
    text-decoration: none;
    color: #4a4a4a;
    font-family: Arial, sans-serif;
}
.cden2{
    color: #4a4a4a;
    font-family: Arial, sans-serif;
}
.cden{
    font-weight: bold;
}
.Copyright{
    bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imgbutton{
    height: 40px;
    width: 135px;
    border-radius: 5px;
}
.cnho{
    font-size: 10px;
}
.imgtruot{
    height: 140px;
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    
}
.a1{
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;


}
.a11{
    padding: 10px;
}
.a12{
    display: flex;
    justify-content: space-between;
}
.slick-prev:before, .slick-next:before {
    color: rgba(0, 0, 0, 0.5) !important;
}
.k5{
    width: 680px;
    background-color: rgb(248,246,242);
    margin-bottom: 100px;
    margin-top: 100px;
    
}
.ten2k1{
    margin-bottom: 50px;
}
.imgten2{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.pten2{
    color: #c0bebe;
}