<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/addNewFood.css">
    <link rel="stylesheet" href="../css/monmoi.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header></header>
    <main>
        <div class=" bgr">
            <div class="k1">
                <div class="cangiua">
                    <img src="../../../icons/PuhChef_ba-style@nulla.top.png" class="a1">
                    <h3 class="text1">Lưu trữ ghi chú vào bếp của bạn</h3>
                    <p class="text1">giúp cộng đồng tìm ý tưởng mới</p>
                    <br>
                    <div>
                        <a href="mon.html"><button class="recipe"><i class="fas fa-utensils"></i>&nbsp;Món</button></a>
                        <a href="biquyet.html"><button class="tips"><i class="fa-regular fa-lightbulb"></i></i>&nbsp;Bí
                                quyết</button></a>
                    </div>
                </div>
            </div>

            <div class="k2">
                <div class="ngang">
                    <h3 class="cden2">2 Món nháp</h3>
                    <div class="button1"><a href="ten2.html"><i class="fa-solid fa-angle-up fa-rotate-90 cden2"></i></a>
                    </div>
                </div>
                <div class="canngang">
                    <div>
                        <a href="mon.html"><img src="../../../img/a3.png" class="k2img"></a>
                        <a href="mon.html"><img src="../../../img/a3.png" class="k2img"></a>
                    </div>
                    <div class="arrowright"><a href="ten2.html"><i class="fa-solid fa-arrow-right cden2"></i></a></div>
                </div>

            </div>
            <div class="k3">
                <div class="ngang">
                    <h3 class="cden2">Tham gia thử thách vào bếp</h3>
                    <div class="button1"><a href="ten1.html"><i class="fa-solid fa-angle-up fa-rotate-90 cden2"></i></a>
                    </div>
                </div>
                <div class="your-class">
                    <div class="aa1">
                        <a href="thuthach1.html" class="cden1">
                            <img src="../../../img/anhtruot1.png" class="imgtruot">
                            <div class="a11">
                                <div>
                                    <div>🍱Mân Cơm Của Mẹ👩🏻👵🏻</div>
                                </div>
                                <div class="a12">
                                    <div>49 món</div>
                                    <div>Còn 19 ngày</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="aa1">
                        <a href="thuthach1.html" class="cden1">
                            <img src="../../../img/anhtruot2.png" class="imgtruot">
                            <div class="a11">
                                <div>
                                    <div>✨Tạp Dề Vàng 2023✨</div>
                                </div>
                                <div class="a12">
                                    <div>431 món</div>
                                    <div>Còn 80 ngày</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="aa1">
                        <a href="thuthach1.html" class="cden1">
                            <a href="#" class="cden1">
                                <img src="../../../img/anhtruot1.png" class="imgtruot">
                                <div class="a11">
                                    <div>
                                        <div>Mân Cơm Của Mẹ</div>
                                    </div>
                                    <div class="a12">
                                        <div>49 món</div>
                                        <div>Còn 19 ngày</div>
                                    </div>
                                </div>
                            </a>
                    </div>

                    <div class="aa1">
                        <a href="thuthach1.html" class="cden1">
                            <img src="../../../img/anhtruot2.png" class="imgtruot">
                            <div class="a11">
                                <div>
                                    <div>Tạp Dề Vàng 2023</div>
                                </div>
                                <div class="a12">
                                    <div>431 món</div>
                                    <div>Còn 80 ngày</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </main>
    <footer class="flex center"></footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../../slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.your-class').slick({
                slidesToScroll: 1,
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 2,
                adaptiveHeight: true
            });
        });
    </script>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>