<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/addNewFood.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header></header>
    <main class="wrapper">
        <div class="bgr-addNF flex t-center flex-col">
            <div class="addfoodct-addNF py-search-xs flex center flex-col">
                <div class="flex t-center flex-col">
                    <img src="../../../icons/PuhChef_ba-style@nulla.top.png" class="logo-addNF">
                    <h3 class="text1-addNF mg-py-search-xs">Lưu trữ ghi chú vào bếp của bạn</h3>
                    <p class="text1-addNF py-search-xs">giúp cộng đồng tìm ý tưởng mới</p>
                    <div class="flex space-bw">
                        <a href="mon.html" class="mg-px-search-rg"><button class="recipe-addNF"><i
                                    class="fas fa-utensils"></i>&nbsp;Món</button></a>
                        <a href="biquyet.html" class="mg-px-search-rg"><button class="tips-addNF"><i
                                    class="fa-regular fa-lightbulb"></i></i>&nbsp;Bí
                                quyết</button></a>
                    </div>
                </div>
            </div>

            <div class="k2-addNF">
                <div class="mg-py-search-xs">
                    <h3 class="cden2-addNF">2 Món nháp</h3>
                </div>
                <div class="canngang-addNF">
                    <div>
                        <a href="mon.html"><img src="../../../img/a3.png" class="k2img-addNF"></a>
                        <a href="mon.html"><img src="../../../img/a3.png" class="k2img-addNF"></a>
                    </div>
                </div>
            </div>
            <div class="k3-addNF">
                <div class="mg-py-search-xs">
                    <h3 class="cden2-addNF">Tham gia thử thách vào bếp</h3>
                </div>
                <div class="challenge-addNF flex space-bw mg-py-search-xs">
                    <div class="a1-addNF px-search-rg">
                        <a href="thuthach1.html" class="cden1-addNF">
                            <img src="../../../img/anhtruot1.png" class="imgtruot-addNF">
                            <div class="a11-addNF">
                                <div>
                                    <div class="bl-gr-text">🍱Mân Cơm Của Mẹ👩🏻👵🏻</div>
                                </div>
                                <div class="a12-addNF flex space-bw">
                                    <div class="gr-text">49 món</div>
                                    <div class="gr-text">Còn 19 ngày</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="a1-addNF px-search-rg">
                        <a href="thuthach1.html" class="cden1-addNF">
                            <img src="../../../img/anhtruot2.png" class="imgtruot-addNF">
                            <div class="a11-addNF">
                                <div>
                                    <div class="c1-solgan bl-gr-text">✨Tạp Dề Vàng 2023✨</div>
                                </div>
                                <div class="a12-addNF flex space-bw">
                                    <div class="gr-text">431 món</div>
                                    <div class="gr-text">Còn 80 ngày</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>