<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/cmt.css">
    <link rel="stylesheet" href="../css/monSuggest.css">
    <link rel="stylesheet" href="../css/biquyet.css">
    <link rel="stylesheet" href="../css/search.css">

</head>

<body>
    <header></header>
    <main class="post">
        <h2>Chuẩn Bị Sinh Tố Cho Một Tuần</h2>
        <ul>
            <li class="nguyen-lieu-can-dung">
                <p>Mình không thích ăn rau nên thường mix cải bó xôi và kale vào sinh tố để có thêm chất dinh dưỡng.
                    Trái cây thì dùng loại ngọt như chuối và táo để cân bằng hương vị</p>
                <div class="video-container" onclick="playVideo()">
                    <video id="myVideo" controls>
                        <source src="../../../video/vof2uif3ncvgdnmhaiym.mp4" type="video/mp4">
                    </video>
                </div>
            </li>

            <li class="nguyen-lieu-can-dung">
                <p>Sau đó cho bảo túi zip để ngăn đông được 7-10 ngày. Khi nào dùng chỉ cần lấy ra xay chung với nước
                    hoặc sữa.</p>
                <div class="video-container" onclick="playVideo()">
                    <video id="myVideo" controls>
                        <source src="../../../video/ex9vw7fxvl3a3s6z07aj.mp4" type="video/mp4">
                    </video>
                </div>
            </li>

            <li class="nguyen-lieu-can-dung">
                <p>5p có ngay 1 ly sinh tố thơm ngon và giàu dinh dưỡng.</p>
                <img src="https://img-global.cpcdn.com/tip_sections/4ac7f71b9c93d1c2/751x532cq70/photo.webp"
                    width="590px" alt="">
            </li>
        </ul>
        <div class="">
            <p class="ten-nguoi-icon">Lena K và các bạn khác đã thích</p>
            <div class="icon"><!-- Like -->
                <div class="like">
                    <button id="likeButton">👍</button>
                    <span id="likeCount">0</span>
                </div>
                <div class="like">
                    <button id="timButton">❤️</button>
                    <span id="timCount">0</span>
                </div>
                <div class="like">
                    <button id="votayButton">👏</button>
                    <span id="votayCount">0</span>
                </div>
            </div>
        </div>
        <div class="gioi-thieu" style="font-size: 17px;">
            <img class="anh-dai-dien" src="https://img-global.cpcdn.com/users/d32fa78b913ce227/60x60cq50/avatar.webp"
                alt="">
            <p class="date">Lên sóng bởi</p>
            <h1>EatbetterFeelbetter</h1>
            <p class="date">vào 18 tháng 8 năm 2023</p>
            <div class="content">
                <p style="text-align: center;">
                    Mình học về khóa dinh dưỡng của NASM và hiện là huấn luyện viên thể hình nên mình rất quan tâm đến
                    vấn
                    đề ăn uống.
                    Các món ăn của mình có thể không có đậm đà nhiều gia vị mình hướng tới những món ăn đơn giản cách
                    chế
                    biến nhất
                    để giữ lại được chất dinh dưỡng và chế biến nhanh chóng phù hợp với thời gian. Có thể các bạn ăn
                    quen
                    chắn xào thì
                    sẽ không quen, không thấy ngon nhưng từ tự thói quen mình sẽ thay đổi và bạn sẽ thấy người tràn đầy
                    năng
                    lượng
                    vì "you're what you eat."
                    <a style="font-size: 17px; color:#939290"
                        href="https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g">https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g
                    </a> <br>
                    <button class="btn-cooksnap" style="margin-top: 10px;">Kết Ban Bếp</button>
                </p>

            </div>
        </div>
        <div class="comment-footer">
            <div class="comments-header">
                <h2><i class="fa-regular fa-message"></i>&nbsp;Bình luận <span style="color: #939290;">(3)</span>
                </h2>
            </div>
            <div class="dis-flex" style="margin-top: 10px; margin-bottom:10px;">
                <img class="anh-dai-dien"
                    src="https://img-global.cpcdn.com/users/577ddfd56d9a1993/32x32cq50/avatar.webp"
                    alt="Current user avatar" class="add-comment-avatar">
                <div class="khung-comment">
                    <input type="text" id="commentInput" placeholder="Bình luận...">
                    <button id="commentButton"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </main>

    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>