<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/cmt.css">
    <link rel="stylesheet" href="../css/monSuggest.css">
    <link rel="stylesheet" href="../css/biquyet.css">
    <link rel="stylesheet" href="../css/search.css">

</head>

<body>
    <header></header>
    <main class="post">
        <h2>Trữ nước cốt chanh</h2>
        <ul>
            <li class="nguyen-lieu-can-dung">
                <p>Nhà có bịch chanh không hạt mà chưa cần dùng tới, để lâu sợ chanh hư, nên mình đã vắt nước cốt chanh
                    ra
                    hết.</p>
                <img src="https://img-global.cpcdn.com/tip_sections/ba766928a07c5cbd/751x532cq70/photo.webp"
                    width="590px" alt="">
            </li>

            <li class="nguyen-lieu-can-dung">
                <p></p>Đổ nước cốt chanh vào khuôn làm đá hoặc làm rau câu.</p>
                <img src="https://img-global.cpcdn.com/tip_sections/f28dd060f420f371/751x532cq70/photo.webp"
                    width="590px" alt="">
            </li>

            <li>
                <p>Cho vào tủ đông. Khi nào cần pha nước chanh uống chỉ cần lấy ra 1-2 cục là ngon lành rồi!</p>
                <img src="https://img-global.cpcdn.com/tip_sections/74803eb3ad5aaca1/751x532cq70/photo.webp"
                    width="590px" alt="">
            </li>


        </ul>
        <div class="">
            <p class="ten-nguoi-icon">Lena K và các bạn khác đã thích</p>
            <div class="icon"><!-- Like -->
                <div class="like">
                    <button id="likeButton">👍</button>
                    <span id="likeCount">0</span>
                </div>
                <div class="like">
                    <button id="timButton">❤️</button>
                    <span id="timCount">0</span>
                </div>
                <div class="like">
                    <button id="votayButton">👏</button>
                    <span id="votayCount">0</span>
                </div>
            </div>
        </div>
        <div class="gioi-thieu" style="font-size: 17px;">
            <img class="anh-dai-dien" src="https://img-global.cpcdn.com/users/c124233c75259aff/60x60cq50/avatar.webp"
                alt="">
            <p class="date">Lên sóng bởi</p>
            <h1>minh!</h1>
            <p class="date">vào 6 tháng 8 năm 2023</p>
            <div class="content">
                <p style="text-align: center;">
                    Yêu nấu ăn và cho rằng nấu ăn đúng cách là cách tốt nhất tránh bệnh tật và giữ gia đình mạnh khoẻ!
                    *Tất
                    cả món mình nấu đều không dùng bột ngọt và bột nêm*
                    <a style="font-size: 17px; color:#939290"
                        href="https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g">https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g
                    </a> <br>
                    <button class="btn-cooksnap" style="margin-top: 10px;">Kết Ban Bếp</button>
                </p>

            </div>
        </div>
        <div class="comment-footer">
            <div class="comments-header">
                <h2><i class="fa-regular fa-message"></i>&nbsp;Bình luận <span style="color: #939290;">(3)</span>
                </h2>
            </div>
            <div class="dis-flex" style="margin-top: 10px; margin-bottom:10px;">
                <img class="anh-dai-dien"
                    src="https://img-global.cpcdn.com/users/577ddfd56d9a1993/32x32cq50/avatar.webp"
                    alt="Current user avatar" class="add-comment-avatar">
                <div class="khung-comment">
                    <input type="text" id="commentInput" placeholder="Bình luận...">
                    <button id="commentButton"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

    </main>

    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>