<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/cmt.css">
    <link rel="stylesheet" href="../css/monSuggest.css">
    <link rel="stylesheet" href="../css/biquyet.css">
    <link rel="stylesheet" href="../css/search.css">
</head>

<body>
    <header></header>
    <main class="post">
        <h2>Cách xào mì ko nát
        </h2>
        <ul>
            <li class="nguyen-lieu-can-dung">
                <p>Để xào mì gói ko bị nát thì chỉ nên ngâm mì với nước lạnh (nước bình thường) đến khi sợi mì mềm, chắt
                    nước cho vào xào với các nguyên liệu sợi mì vừa dai. chín mềm tới, lại không bị nát</p>
            </li>
        </ul>
        <div class="">
            <p class="ten-nguoi-icon">Lena K và các bạn khác đã thích</p>
            <div class="icon"><!-- Like -->
                <div class="like">
                    <button id="likeButton">👍</button>
                    <span id="likeCount">0</span>
                </div>
                <div class="like">
                    <button id="timButton">❤️</button>
                    <span id="timCount">0</span>
                </div>
                <div class="like">
                    <button id="votayButton">👏</button>
                    <span id="votayCount">0</span>
                </div>
            </div>
        </div>
        <div class="gioi-thieu" style="font-size: 17px;">
            <img class="anh-dai-dien" src="https://img-global.cpcdn.com/users/279bc8ffa6803631/60x60cq50/avatar.webp"
                alt="">
            <p class="date">Lên sóng bởi</p>
            <h1>Jenny Vũ</h1>
            <p class="date">vào 6 tháng 8 năm 2023</p>
            <div class="content">
                <p style="text-align: center;">
                    Mình yêu thích tìm hiểu về dinh dưỡng, vì giảm cân mà vẫn thích ăn ngon nên mình muốn lan tỏa những
                    công
                    thức ngon - lành - dễ đến mọi người! Ăn uống lành mạnh nhưng vẫn ngon miệng và vui vẻ!
                    <a style="font-size: 17px; color:#939290"
                        href="https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g">https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g
                    </a> <br>
                    <button class="btn-cooksnap" style="margin-top: 10px;">Kết Ban Bếp</button>
                </p>

            </div>
        </div>
        <div class="comment-footer">
            <div class="comments-header">
                <h2><i class="fa-regular fa-message"></i>&nbsp;Bình luận <span style="color: #939290;">(3)</span>
                </h2>
            </div>
            <div class="dis-flex" style="margin-top: 10px; margin-bottom:10px;">
                <img class="anh-dai-dien"
                    src="https://img-global.cpcdn.com/users/577ddfd56d9a1993/32x32cq50/avatar.webp"
                    alt="Current user avatar" class="add-comment-avatar">
                <div class="khung-comment">
                    <input type="text" id="commentInput" placeholder="Bình luận...">
                    <button id="commentButton"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </main>

    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>