<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/mon.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header></header>
    <main>
        <div>
            <div class="monk3">
                <div class="monk34">
                    <textarea id="biquyetID" placeholder="Tựa: Làm sao để cắt hành" rows="4" cols="50"></textarea>
                    <div class="steps-container">
                    </div>
                    <div>
                        <button onclick="addStep()" class="buoclam"><i class="fa-solid fa-plus x"></i> Bước làm</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>

    <script>function addStep() {
            let container = document.querySelector('.steps-container');

            let step = document.createElement('div');
            step.classList.add('step');

            let input = document.createElement('input');
            input.setAttribute('type', 'text');
            input.setAttribute('placeholder', 'Cắt một củ hành tây, hăy dùng một con dao và cắt nó thành 2 nửa');

            let upload = document.createElement('input');
            upload.setAttribute('type', 'file');
            upload.classList.add('file-input');

            let uploadLabel = document.createElement('label');
            uploadLabel.classList.add('upload-label2');
            uploadLabel.addEventListener('click', function () {
                upload.click();
            });

            upload.addEventListener('change', function (e) {
                if (e.target.files && e.target.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        // Cập nhật hình ảnh 
                        uploadLabel.style.backgroundImage = 'url(' + event.target.result + ')';
                    }
                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            let deleteBtn = document.createElement('span');
            deleteBtn.classList.add('delete');
            deleteBtn.innerHTML = '...';
            deleteBtn.addEventListener('click', function () {
                container.removeChild(step);
            });

            step.appendChild(input);
            step.appendChild(upload);
            step.appendChild(uploadLabel);
            step.appendChild(deleteBtn);
            container.appendChild(step);
        }
    </script>
</body>

</html>