<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/cmt.css">
    <link rel="stylesheet" href="../css/monSuggest.css">
    <link rel="stylesheet" href="../css/biquyet.css">
    <link rel="stylesheet" href="../css/search.css">
</head>

<body>
    <header></header>
    <main class="post">
        <h2>Khoai tây xào tôm</h2>
        <ul>
            <li class="nguyen-lieu-can-dung">
                <p>Chuẩn bị nguyên liệu: Tôm: 5 con Khoai tây: 2 củ Hành, tỏi, ới, gia vị thường dùng.</p>
            </li>

            <li class="nguyen-lieu-can-dung">
                <p>Bước 1: - Hành, tỏi, ớt băm nhỏ - Tôm bóc vỏ (con to có thể cắt đôi cho ngấm gia vị) - Khoai tây gọt
                    vỏ,
                    cắt khúc vừa ăn</p>
                <img src="https://img-global.cpcdn.com/tip_sections/b113e084ac59a2a8/751x532cq70/photo.webp"
                    width="590px" alt="">
                <img src="https://img-global.cpcdn.com/tip_sections/e325b3b1a42f5626/751x532cq70/photo.webp"
                    width="590px" alt="">
                <img src="https://img-global.cpcdn.com/tip_sections/d8a2257ce0af349a/751x532cq70/photo.webp"
                    width="590px" alt="">
            </li>

            <li class="nguyen-lieu-can-dung">
                <p>Bước 2: Chế biến món ăn - Cho 1 chút dầu ăn, phi hành cho thơm, cho tôm vào xào cùng 1 chút muối, hạt
                    nêm, tiêu rồi đổ tôm đã xào chín ra dĩa. - Tiếp tục cho 1 chút dầu vào chảo phi tỏi thơm, cho khoai
                    tây
                    vào xào cùng 1 chút muối, hạt nêm, tiêu. - khoai tây gần chín thì cho tôm đã xào chín tiếp tục nấu
                    cho 2
                    nguyên liệu thấm và hòa quyện vào nhau.</p>
                <img src="https://res.cloudinary.com/cookpad/video/upload/c_fill,h_465,so_auto,w_620/v1/production/tip_section_videos/user_31985824/qlifvspbyo5wttgbqvzj.jpg"
                    width="590px" alt="">
            </li>

            <li class="nguyen-lieu-can-dung">
                <p>Bước 3: Hoàn thiện món ăn: - Món ăn chín thì rắc chút hành vào, múc ra đĩa dùng với cơm nóng sẽ rất
                    ngon.
                </p>
                <img src="https://img-global.cpcdn.com/tip_sections/9666769418381e36/751x532cq70/photo.webp"
                    width="590px" alt="">
            </li>

        </ul>
        <div class="">
            <p class="ten-nguoi-icon">Lena K và các bạn khác đã thích</p>
            <div class="icon"><!-- Like -->
                <div class="like">
                    <button id="likeButton">👍</button>
                    <span id="likeCount">0</span>
                </div>
                <div class="like">
                    <button id="timButton">❤️</button>
                    <span id="timCount">0</span>
                </div>
                <div class="like">
                    <button id="votayButton">👏</button>
                    <span id="votayCount">0</span>
                </div>
            </div>
        </div>
        <div class="gioi-thieu" style="font-size: 17px;">
            <img class="anh-dai-dien" src="https://img-global.cpcdn.com/users/6017097b62fe382f/60x60cq50/avatar.webp"
                alt="">
            <p class="date">Lên sóng bởi</p>
            <h1>Phạm Hoa</h1>
            <p class="date">vào 6 tháng 8 năm 2023</p>
            <div class="content">
                <p style="text-align: center;">
                    <a style="font-size: 17px; color:#939290"
                        href="https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g">https://www.youtube.com/channel/UC8qu3tGocgTTKIPjbt_zO6g
                    </a> <br>
                    <button class="btn-cooksnap" style="margin-top: 10px;">Kết Ban Bếp</button>
                </p>

            </div>
        </div>
        <div class="comment-footer">
            <div class="comments-header">
                <h2><i class="fa-regular fa-message"></i>&nbsp;Bình luận <span style="color: #939290;">(3)</span>
                </h2>
            </div>
            <div class="dis-flex" style="margin-top: 10px; margin-bottom:10px;">
                <img class="anh-dai-dien"
                    src="https://img-global.cpcdn.com/users/577ddfd56d9a1993/32x32cq50/avatar.webp"
                    alt="Current user avatar" class="add-comment-avatar">
                <div class="khung-comment">
                    <input type="text" id="commentInput" placeholder="Bình luận...">
                    <button id="commentButton"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>