<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/cmt.css">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/search.css">
</head>

<body>
    <header></header>
    <main>
        <div class="post">
            <div class="post-image">
                <img src="https://img-global.cpcdn.com/comments/4b2b575152b6af4b/680x680cq70/photo.webp" alt="">
            </div>
            <div class="post-details">
                <div class="ten-mon-cooksnap-new" style="margin-bottom: 10px;">
                    <a class="can-giua-ten" href=""><i class="fa-solid fa-utensils"></i>&nbsp;Bún cá hồng chấm</a>
                    <a style="color: #939290;" class="can-giua-ten" href="">&nbsp; &nbsp; &nbsp; &nbsp;<img
                            class="anh-dai-dien" width="20px" height="20px"
                            src="https://img-global.cpcdn.com/users/22e343bbf89f46b6/16x16cq50/avatar.webp" alt="">Lan
                        Vy
                    </a>
                </div>
                <div class="comment">
                    <div class="thong-tin-nguoi-cmt">
                        <img src="https://img-global.cpcdn.com/users/e0865c61ce89e791/40x40cq50/avatar.webp" alt=""
                            class="user-avatar">
                        <div class="time-cmt">
                            <p class="user-name">Bò <span style="color: #939290;">@vietzombie</span></p>
                            <p class="comment-date">4 ngày trước</p>
                        </div>
                    </div>
                    <p class="comment-text">Cảm ơn chị bếp nhiều! Mình làm theo bản chị có không dùng bột ngọt trong
                        nước
                        mắm thôi ạ.</p>
                    <div class="icon" style="margin-top: 15px;">
                        <div class="like">
                            <button id="likeButton">👍</button>
                            <span id="likeCount">0</span>
                        </div>
                        <div class="like">
                            <button id="timButton">❤️</button>
                            <span id="timCount">0</span>
                        </div>
                        <div class="like">
                            <button id="votayButton">👏</button>
                            <span id="votayCount">0</span>
                        </div>
                    </div>
                    <div class="comment-footer">

                        <div class="dis-flex" style="margin-top: 20px; margin-bottom:20px;">
                            <img class="anh-dai-dien"
                                src="https://img-global.cpcdn.com/users/577ddfd56d9a1993/32x32cq50/avatar.webp"
                                alt="Current user avatar" class="add-comment-avatar">
                            <div class="khung-comment">
                                <input type="text" id="commentInput" placeholder="Bình luận...">
                                <button id="commentButton"><i class="fa-regular fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>