<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký/Đăng nhập</title>
    <link rel="stylesheet" href="../css/dkdn.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <style>
    </style>
</head>
<body class="backgroundtong">

<div class="login-container">
    <div class="login-canngang">
        <div><a href="dkdn.html" class="mau"><i class="fa-solid fa-arrow-right fa-rotate-180"></i></a></div>
        <div><a href="#" class="mau">Việt Nam <span><i class="fa-solid fa-angle-up fa-rotate-180"></i></span></a></div>
        <div><a href="#" class="mau"><i class="fa-solid fa-xmark"></i></a></div>
    </div>
    <h1>Đăng ký bằng email</h1>
    <p>Vui lòng thêm tên, email, và mật khẩu cảu bạn</p>
    <div class="border1">
        <div class="border">
            <i class="fa-solid fa-circle-user textaracan"></i>
            <textarea id="dkInput" placeholder="Tên bạn (hiển thị công khai)" rows="4" cols="50"></textarea>
        </div>
        <div class="border">
            <i class="fa-regular fa-envelope textaracan" style="color: #000000;"></i>
            <textarea id="dkInput" placeholder="Email" rows="4" cols="50"></textarea>
        </div>
        <div class="border">
            <i class="fa-solid fa-lock textaracan"></i>
            <textarea id="dkInput" placeholder="Mật khẩu" rows="4" cols="50"></textarea>
        </div>
        <div class="border">
            <i class="fa-solid fa-lock textaracan"></i>
            <textarea id="dkInput" placeholder="xác nhận mật khẩu" rows="4" cols="50"></textarea>
        </div>
    </div>
    <div class="login-canngang2">
        <input type="checkbox" id="example1" name="example1">
        <p class="check">Tôi đồng ý nhận các bản tin về gợi ý món ngon, cách làm hay và những thông tin khác từ Cookpad.</p>
    </div><br>
    <a href="#" class="ttk">Tạo tài khoản</a><br><br><br>
    <p class="check">Khi sử dụng Cookpad, bạn đồng ý với <span><a href="#" class="check">Điều Khoản Dịch Vụ</a></span> & <span><a href="#" class="check">Chính Sách Bảo Mật</a></span> của chúng tôi</p>
</div>

</body>
</html>
