<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký/Đăng nhập</title>
    <link rel="stylesheet" href="../css/dkdn.css">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
    </style>
</head>
<body class="backgroundtong">
<div class="login-container">
    <div class="login-canngang">
        <div><a href="#" class="mau"><i class="fa-solid fa-ellipsis"></i></a></div>
        <div><a href="#" class="mau">Việt Nam <span><i class="fa-solid fa-angle-up fa-rotate-180"></i></span></a></div>
        <div><a href="#" class="mau"><i class="fa-solid fa-xmark"></i></a></div>
    </div>
    <h1>Tham gia Cookpad</h1>
    <p >Vui nấu mỗi ngày!</p>
    
    <a href="#" class="cden1"><div class="login-nut maufb"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i> Kết nối với Facebook</div></a><br>
    <a href="#" class="cden1"><div class="login-nut maugg"><i class="fa-brands fa-google" style="color: #9c7140;"></i> Kết nối với Google</div></a><br>
    <a href="#" class="cden1"><div class="login-nut mauap"><i class="fa-brands fa-apple" style="color: #ffffff;"></i> Đăng nhập bằng Apple</div></a><br>
    <a href="/dk" class="cden1"><div class="login-nut mauem"><i class="fa-regular fa-envelope" style="color: #000000;"></i> Đăng ký bằng email</div></a>
    
    <p >- hoặc -</p>
    <a href="/dn" class="cden1"><div class="login-nut xyz mauem2">Đăng nhập với email</div></a><br>
    <p class="check">Khi sử dụng Cookpad, bạn đồng ý với <span><a href="#" class="check">Điều Khoản Dịch Vụ</a></span> & <span><a href="#" class="check">Chính Sách Bảo Mật</a></span> của chúng tôi</p>
</div>
</body>
</html>
