<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký/Đăng nhập</title>
    <link rel="stylesheet" href="../css/dkdn.css">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
    </style>
</head>
<body class="backgroundtong">

<div class="login-container">
    <div class="login-canngang">
        <div><a href="/dkdn" class="mau"><i class="fa-solid fa-arrow-right fa-rotate-180"></i></a></div>
        <div><a href="#" class="mau">Việt Nam <span><i class="fa-solid fa-angle-up fa-rotate-180"></i></span></a></div>
        <div><a href="#" class="mau"><i class="fa-solid fa-xmark"></i></a></div>
    </div>
    <h1>Đăng nhập với email</h1>
    <div class="border1">
        <div class="border">
            <i class="fa-regular fa-envelope textaracan" style="color: #000000;"></i>
            <input type="email" id="email" placeholder="Email" required />
        </div>
        <div class="border">
            <i class="fa-solid fa-lock textaracan"></i>
            <input type="password" id="password" placeholder="Mật khẩu" required />
        </div>
    </div>
    <br>
    <button id="ttk"  class="ttk"><a href="/">Đăng nhập</a></button><br><br><br>
    <a href="/quenmk" class="cden1 bold">Quên mật khẩu?</a>
</div>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-analytics.js";
    import { getDatabase, get, ref, child } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-database.js";
    import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.5.2/firebase-auth.js";

    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyAQESMzAudVYpfgLg-MMK2o6f0pr_K0hLI",
        authDomain: "cooky-bacb5.firebaseapp.com",
        projectId: "cooky-bacb5",
        storageBucket: "cooky-bacb5.appspot.com",
        messagingSenderId: "244852787410",
        appId: "1:244852787410:web:4e042f7132a0604eac450b",
        measurementId: "G-LPJSXCCZ6P"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const db = getDatabase();
    const auth = getAuth(app);
    const dbref = ref(db);

    // Lấy các trường nhập liệu từ trang HTML
    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("password");

    // Lấy nút đăng ký từ trang HTML
    const signUpButton = document.getElementById("ttk");

    // Thêm sự kiện click cho nút đăng ký
    signUpButton.addEventListener("click", function (event) {
        event.preventDefault();

        // Lấy giá trị từ các trường nhập liệu
        const email = emailInput.value;
        const password = passwordInput.value;

        // Đăng ký người dùng mới với email và mật khẩu
        signInWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                console.log(userCredential)
                alert("Bạn đã đăng nhập thành công!!!")
            })
            .catch((error) => {
                // Xử lý lỗi đăng ký
                console.error(error);
                alert("sai tên đăng nhập hoặc mặt khẩu!");
            });
    });
</script>
</body>
</html>
