<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký/Đăng nhập</title>
    <link rel="stylesheet" href="../css/dkdn.css">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
    </style>
</head>
<body class="backgroundtong">

<div class="login-container">
    <div class="login-canngang">
        <div><a href="dkdn.html" class="mau"><i class="fa-solid fa-arrow-right fa-rotate-180"></i></a></div>
        <div><a href="#" class="mau">Việt Nam <span><i class="fa-solid fa-angle-up fa-rotate-180"></i></span></a></div>
        <div><a href="#" class="mau"><i class="fa-solid fa-xmark"></i></a></div>
    </div>
    <h1>Đăng nhập với email</h1>
    <div class="border1">
        <div class="border">
            <i class="fa-regular fa-envelope textaracan" style="color: #000000;"></i>
            <textarea id="dkInput" placeholder="Email" rows="4" cols="50"></textarea>
        </div>
        <div class="border">
            <i class="fa-solid fa-lock textaracan"></i>
            <textarea id="dkInput" placeholder="Mật khẩu" rows="4" cols="50"></textarea>
        </div>
    </div>
    <br>
    <a href="index.html" class="ttk">Đăng nhập</a><br><br><br>
    <a href="quenmk.html" class="cden1 bold">Quên mật khẩu?</a>
</div>

</body>
</html>
