<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
</head>
<body>
    
</body>
</html>