<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
</head>

<body>
    <header class="sticky">
        <div class="bar flex center flex-justify border-bottom shadow py-xs">
            <a href="index.html" class="logo flex flex-nowrap link px-rg">
                <img src="../../../icons/PuhChef_ba-style@nulla.top.png" alt="" width="130px">
            </a>
            <div class="search-bar px-rg">
                <form action="" class="search-bar-form flex flex-nowrap border round-full px-rg py-xs">
                    <button type="submit" class="no-background no-border poiter">
                        <img src="../../../icons/search.png" alt="" width="30px">
                    </button>
                    <input type="text" name="search" id="search" placeholder=" Gõ tên các nguyên liệu"
                        class="no-border outline-none w-full mg-px-rg">
                </form>
                <div class="search-option py-xs px-rg w-full shadow">
                    <a href="../../xây dựng web/cap-nhat.html" class="flex link center border-bottom py-xs">
                        <img class="px" src="../../../icons/star.png" alt="">
                        <p>Tìm ý tưởng...</p>
                    </a>
                    <a href="../../xây dựng web/cap-nhat.html" class="flex link center py-xs">
                        <img src="../../../icons/user.png" alt="">
                        <p>Tìm bạn...</p>
                    </a>
                </div>
            </div>
            <div class="login px-rg">
                <a href="login.html" class="link border round-full px-rg py-xs button">Tham gia ngay</a>
            </div>

        </div>
        <div class="popup-container">
            <div class="popup-toggle-btn">
                <i class="fa-solid fa-plus"></i>
            </div>
            <ul class="popup-list">
                <li class="popup-item">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="popup-item">
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="popup-item">
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <main class="wrapper">
        <div class="slider no-background">
            <div class="banner-slider">
                <div class="image-wrapper"><a href=""><img src="../../../img/slider/suonxaochuangot.png"
                            alt="Sườn xào chua ngọt" class="mg-center"></a></div>
                <div class="image-wrapper"><a href=""><img src="../../../img/slider/cakhovudai.jpg" alt="Cá kho vũ đại"
                            class="mg-center"></a></div>
                <div class="image-wrapper"><a href=""><img src="../../../img/slider/ganuongcam.webp" alt="Image 1"
                            class="mg-center"></a></div>
            </div>
            <div class="slogan">
                <h1 class="text-white text-with-border">Nấu gì giờ ta ?</h1>
                <h2 class="text-white text-with-border">Chúng tôi luôn đồng hành cùng bạn trong mỗi bữa cơm ... </h2>
                <h2 class="text-white text-with-border">Hôm nay thử làm món này nhé 💕</h2>
            </div>
        </div>
        <section class="hero text-center py-xs px">
            <h1 class="hero-title">Cooky - Công thức nấu ăn và chia sẻ công thức nấu ăn</h1>
            <p class="hero-description py-xs mg-py-xs py">Cooky là trang web chia sẻ công thức nấu ăn lớn nhất thế
                giới, với hơn 100
                triệu công thức nấu ăn từ khắp nơi trên thế giới. Cooky giúp bạn tìm thấy những công thức nấu ăn
                ngon và phù hợp với nhu cầu của mình, đồng thời chia sẻ những công thức nấu ăn yêu thích của mình
                với cộng đồng.</p>
            <a href="/recipes" class="hero-button mg-py-xs link px-rg py-xs mg-py-xs">Tìm kiếm công thức nấu ăn</a>
        </section>

        <!-- -----thắng----------------- -->
        <!-- <div class="content">
                <div class="slideshow-container">
                    <div class="mySlides">
                        <img src="../../img/changa.jpg" alt="Image 1">
                    </div>

                    <div class="mySlides">
                        <img src="../../img/suonchuangot.jpg" alt="Image 2">
                    </div>

                    <div class="mySlides">
                        <img src="../../img/thit-nong-heo-sot-me-rang-1.jpg" alt="Image 3">
                    </div>
                    <div class="mySlides">
                        <img src="../../img/pho-bo-tai-ngon.jpg" alt="Image 3">
                    </div>
                    <div class="mySlides">
                        <img src="../../img/com-rang-thap-cam-3.jpg" alt="Image 3">
                    </div>

                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Tìm kiếm">
                    </div>
                </div>
            </div> -->

        <!-- thắng--------------------------- -->
        <div class="suggest">
            <div class="suggest-bar"></div>
        </div>
        <section class="featured-recipes">
            <h2 class="py-xs">Công thức nấu ăn được yêu thích</h2>
            <div class="row py-xs">
                <div class="col-md-4 px-rg">
                    <div class="recipe-card">
                        <img src="../../../img/bun-cha.jpg" alt="Bún chả Hà Nội">
                        <h3>Bún chả Hà Nội</h3>
                        <p>Món ăn đặc sản của Hà Nội, với thịt lợn nướng thơm ngon và bún chả chua ngọt.</p>
                    </div>
                </div>
                <div class="col-md-4 px-rg">
                    <div class="recipe-card">
                        <img src="../../../img/pho.jpg" alt="Phở Hà Nội">
                        <h3>Phở Hà Nội</h3>
                        <p>Món ăn quốc dân của Việt Nam, với nước dùng thơm ngon và bánh phở mềm dai.</p>
                    </div>
                </div>
                <div class="col-md-4 px-rg">
                    <div class="recipe-card">
                        <img src="../../../img/banh-mi.jpg" alt="Bánh mì">
                        <h3>Bánh mì</h3>
                        <p>Món ăn đường phố phổ biến của Việt Nam, với bánh mì giòn rụm và nhân bánh đa dạng.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="call-to-action">
            <h2 class="py-xs">Tham gia cộng đồng Cooky ngay hôm nay!</h2>
            <p class="mg-py-xs py-xs">Cooky là một cộng đồng những người yêu thích nấu ăn, nơi bạn có thể tìm thấy những
                công thức nấu ăn
                ngon, chia sẻ những công thức nấu ăn yêu thích của mình và học hỏi từ những người khác.</p>
            <a href="/register" class="hero-button mg-py-xs link px-rg py-xs mg-py-xs">Đăng ký ngay</a>
        </section>
        </div>


    </main>
    <footer>
        <div class="k4">
            <div class="kk4">
                <div class="flex">
                    <div class="k41">
                        <p class="cden2">Về Cooky</p>
                        <p class="cden2">Sứ mệnh của Cooky là <span class="cden">làm cho việc vào bếp vui hơn mỗi
                                ngày</span>, vì chúng tôi tin rằng nấu nướng là chìa khoá cho một cuộc sống hạnh phúc
                            hơn và khoẻ mạnh hơn cho con người, cộng đồng, và hành tinh này. Chúng tôi muốn hỗ trợ các
                            đầu bếp gia đình trên toàn thế giới để họ có thể <span class="cden">giúp đỡ nhau</span> qua
                            việc chia sẻ các món ngon và bí quyết nấu ăn của mình.

                            <span><a href="#" class="cden text1">Đăng ký gói Premium</a></span> để truy cập các chức
                            năng và quyền lợi dành riêng khác!
                        </p>
                        <p class="cden2">Cooky Communities</p>
                        <a href="#" class="cden1">🇦🇷</a>
                        <a href="#" class="cden2">Argentina</a>
                        <a href="#" class="cden1"> 🇨🇱</a>
                        <a href="#" class="cden2">Chile </a>
                        <a href="#" class="cden1">Chile</a>
                        <a href="#" class="cden2">France</a>
                        <a href="#" class="cden1">Ελλάδα</a>
                        <a href="#" class="cden2">Magyarország</a>
                        <a href="#" class="cden1">India</a>
                        <a href="#" class="cden2">Indonesia</a>
                        <a href="#" class="cden1">ایران</a>
                        <a href="#" class="cden2">Italia</a>
                        <a href="#" class="cden1">日本</a>
                        <a href="#" class="cden2">Malaysia</a>
                        <a href="#" class="cden1">México</a>
                        <a href="#" class="cden2">Nigeria</a>
                        <a href="#" class="cden1">Portugal</a>
                        <a href="#" class="cden2">Российская Федерация</a>
                        <a href="#" class="cden1">España</a>
                        <a href="#" class="cden2">السعودية</a>
                        <a href="#" class="cden1">臺灣</a>
                        <a href="#" class="cden2">ไทย</a>
                        <a href="#" class="cden1">Україна</a>
                        <a href="#" class="cden2">United Kingdom</a>
                        <a href="#" class="cden1">Uruguay</a>
                        <a href="#" class="cden2">Việt Nam</a>
                        <button>See all</button>

                    </div>
                    <div class="k42">
                        <p class="cden2">Learn More</p>
                        <a href="#" class="cden2">Cooky Premium</a><br>
                        <a href="#" class="cden2">Careers</a><br>
                        <a href="#" class="cden2"> Feedback</a><br>
                        <a href="#" class="cden2">Terms of Service</a><br>
                        <a href="#" class="cden2">Privacy Policy</a><br>
                        <p class="cden1">Download our app</p>
                        <a href="#"><img src="../../../img/ggpl.png" class="imgbutton"></a>
                    </div>
                </div>
                <div class="k43">
                    <p class="Copyright cden2 cnho">Copyright © Cooky Inc. All Rights Reserved</p>
                    <img src="../../../img/a2.png" class="a2">
                </div>
            </div>
        </div>
    </footer>
    <script src="../../../slick/slick.js"></script>
    <script src="../js/index.js"></script>
    <!-- <script src="./search.js"></script> -->
    <script src="https://kit.fontawesome.com/a49bcc2c7d.js" crossorigin="anonymous"></script>
</body>

</html>