<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/interact.css">
</head>

<body>
    <header></header>
    <main>
        <div id="main_contents" class="main-content flex t-center flex-col">
            <div class="page-title py-search-xs mg-py-search-xs">
                <h1>Tương Tác</h1>
            </div>

            <ul class="list-unstyled">
                <li>
                    <div id="inbox">
                        <div id="inbox_items" class="inbox-item">
                            <div class="notification-item flex">
                                <div class="user-avatar px-search-rg">
                                    <a href="/vn/inbox/items/733202280?clicked_profile=true">
                                        <img src="../../../icons/logo.png" alt="cooky Vui Tính" class="avatar">
                                    </a>
                                </div>
                                <div>
                                    <a class="user-message" href="#">
                                        <div class="unread">Chưa đọc</div>
                                        <div class="flex">
                                            <div class="user-info flex flex-col">
                                                <div>
                                                    <span class="user-name">Cooky Vui Tính</span>
                                                    <span class="label">Admin</span>
                                                </div>
                                                <span class="message-info">đã nhắn tin cho bạn</span>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            📣🔍 Chào bạn Phú! Trân trọng chào đón bạn đến với cooky!! Đây là cộng
                                            đồng
                                            nấu ăn với hệ thống...
                                        </div>

                                        <div class="message-time">
                                            <span class="time">16 Tháng mười, 2023 06:26</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="inbox">
                        <div id="inbox_items" class="inbox-item">
                            <div class="notification-item flex">
                                <div class="user-avatar px-search-rg">
                                    <a href="/vn/inbox/items/733202280?clicked_profile=true">
                                        <img src="../../../icons/avatar1.jpg" alt="Anna" class="avatar">
                                    </a>
                                </div>
                                <div>
                                    <a class="user-message" href="#">
                                        <div class="unread">Chưa đọc</div>
                                        <div class="flex">
                                            <div class="user-info flex flex-col">
                                                <div>
                                                    <span class="user-name">Anna</span>
                                                    <span class="label">Best Friend</span>
                                                </div>
                                                <span class="message-info">đã nhắn tin cho bạn</span>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            📣🔍 Chào bạn! Hôm nay mình đã làm món thịt kho tàu ngon tuyệt, bạn thử xem
                                            nhé!
                                        </div>

                                        <div class="message-time">
                                            <span class="time">16 Tháng mười, 2023 09:45</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="inbox">
                        <div id="inbox_items" class="inbox-item">
                            <div class="notification-item flex">
                                <div class="user-avatar px-search-rg">
                                    <a href="/vn/inbox/items/733202280?clicked_profile=true">
                                        <img src="../../../icons/avatar2.jpg" alt="David" class="avatar">
                                    </a>
                                </div>
                                <div>
                                    <a class="user-message" href="#">
                                        <div class="unread">Chưa đọc</div>
                                        <div class="flex">
                                            <div class ="user-info flex flex-col">
                                                <div>
                                                    <span class="user-name">David</span>
                                                    <span class="label">Close Friend</span>
                                                </div>
                                                <span class="message-info">đã nhắn tin cho bạn</span>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            📣🔍 Hi bạn, mình mới nấu mì xào hải sản ngon lắm đấy! Muốn thử không?
                                        </div>

                                        <div class="message-time">
                                            <span class="time">16 Tháng mười, 2023 10:15</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="inbox">
                        <div id="inbox_items" class="inbox-item">
                            <div class="notification-item flex">
                                <div class="user-avatar px-search-rg">
                                    <a href="/vn/inbox/items/733202280?clicked_profile=true">
                                        <img src="../../../icons/avatar3.webp" alt="Linda" class="avatar">
                                    </a>
                                </div>
                                <div>
                                    <a class="user-message" href="#">
                                        <div class="unread">Chưa đọc</div>
                                        <div class="flex">
                                            <div class="user-info flex flex-col">
                                                <div>
                                                    <span class="user-name">Linda</span>
                                                    <span class="label">Good Friend</span>
                                                </div>
                                                <span class="message-info">đã nhắn tin cho bạn</span>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            📣🔍 Xin chào, bạn! Hãy cùng chia sẻ món ngon tại cooky. Bạn đã thử món
                                            gỏi cuốn chưa?
                                        </div>

                                        <div class="message-time">
                                            <span class="time">16 Tháng mười, 2023 14:30</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="inbox">
                        <div id="inbox_items" class="inbox-item">
                            <div class="notification-item flex">
                                <div class="user-avatar px-search-rg">
                                    <a href="/vn/inbox/items/733202280?clicked_profile=true">
                                        <img src="../../../icons/avatar4.jpg" alt="Sarah" class="avatar">
                                    </a>
                                </div>
                                <div>
                                    <a class="user-message" href="#">
                                        <div class="unread">Chưa đọc</div>
                                        <div class="flex">
                                            <div class="user-info flex flex-col">
                                                <div>
                                                    <span class="user-name">Sarah</span>
                                                    <span class="label">Foodie Buddy</span>
                                                </div>
                                                <span class="message-info">đã nhắn tin cho bạn</span>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            📣🔍 Hôm nay mình thử làm bánh tráng trộn. Bạn đã thử món này chưa?
                                        </div>

                                        <div class="message-time">
                                            <span class="time">16 Tháng mười, 2023 16:50</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>