<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/interact.css">
</head>

<body>
    <header></header>
    <main>
        <div id="main_contents" class="main-content flex t-center flex-col">
            <div class="page-title py-search-xs mg-py-search-xs">
                <h1>Tương Tác</h1>
            </div>

            <ul class="list-unstyled">
                <li>
                    <div id="inbox">
                        <div id="inbox_items" class="inbox-item">
                            <div class="notification-item flex">
                                <div class="user-avatar px-search-rg">
                                    <a href="/vn/inbox/items/733202280?clicked_profile=true">
                                        <img src="../../../icons/logo.png" alt="Cookpad Vui Tính" class="avatar">
                                    </a>
                                </div>
                                <div>
                                    <a class="user-message" href="#">
                                        <div class="unread">Chưa đọc</div>
                                        <div class="flex">
                                            <div class="user-info flex flex-col">
                                                <div>
                                                    <span class="user-name">Cooky Vui Tính</span>
                                                    <span class="label">Admin</span>
                                                </div>
                                                <span class="message-info">đã nhắn tin cho bạn</span>
                                            </div>
                                        </div>
                                        <div class="message-text">
                                            📣🔍 Chào bạn Phú! Trân trọng chào đón bạn đến với Cookpad!! Đây là cộng
                                            đồng
                                            nấu ăn với hệ thống...
                                        </div>

                                        <div class="message-time">
                                            <span class="time">16 Tháng mười, 2023 06:26</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>