<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <link rel="stylesheet" href="../css/mon.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header></header>
    <main>
    <div>
        <div class="monk3">
            <label for="fileInput">
                <div class="monk31" id="uploadArea">
                    <input type="file" id="fileInput" style="display: none;" accept="image/*">
                    <img src="../../../img/cuong/Screenshot 2023-10-10 155909.png" class="img2">
                    <h2 class="h1">Bạn đã đăng món mình nấu ở đây chưa?</h2>
                    <p class="p1">Chia sẻ với mọi người thành phần nấu nướng của bạn nào!</p>
                </div>
            </label>
            
            <div class="monk32">
                <div class="monk321">
                    <label>
                        <textarea id="foodNameInput" placeholder="Tên món:Món canh bí ngon nhất nhà mình" rows="4" cols="50"></textarea>
                    </label>
                </div>
                <div class="monk322">
                    <label>
                        <textarea id="ShareInput" placeholder="Hãy chia sẻ với moi mọi người về món này cảu bạn nhé - ai đã truyền cảm hứng cho bạn, tại sao nó đặc biệt, bạn thích thưởng thức nó thế nào? Dùng kí tự @ để đề cập đến ai đó" rows="4" cols="50"></textarea>
                    </label>
                    <a href="#" class="xx a"><div class="xxx">
                        <div>Thêm xuất xứ của món</div>
                        <div><i class="fa-solid fa-angle-up fa-rotate-90"></i></div>
                    </div></a>
                </div>
                <div class="monk323">
                    <div class="khauphan">Khẩu phần<br><br><br>Thời gian nấu</div>
                    <div>
                        <div><textarea id="Input2" placeholder="2 người" rows="4" cols="50"></textarea></div>
                        <div><textarea id="Input2" placeholder="1 tiếng 30 phút" rows="4" cols="50"></textarea></div>
                    </div>
                </div>
            </div>
            <div class="monk33">
                <div class="nguyenlieu">Nguyên liệu</div>
                <div class="monk331">
                 <div>
                    <div id="inputContainer"></div>
                    <div id="inputContainer2"></div>
                 <div class="z">
                 <button id="addInputButton"><i class="fa-solid fa-plus x"></i>Nguyên liệu</button>
                 <button id="addInputButton2"><i class="fa-solid fa-plus x"></i>Phần</button>
                 </div>
                 </div>
                </div>
            </div>
            <div class="monk34">
                <div class="cacbuoc">Các bước</div>
                <div class="steps-container">
                </div>
                <div class="z">
                <button onclick="addStep()" class="buoclam"><i class="fa-solid fa-plus x"></i> Bước làm</button>
                </div>
            </div>


        </div>
    </div>
    </main>
    
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
    <script>
        document.getElementById('fileInput').addEventListener('change', function (event) {
            const selectedFile = event.target.files[0];
    
            if (selectedFile) {
                const imgElement = document.querySelector('.img2');
                const reader = new FileReader();
    
                reader.onload = function (e) {
                    imgElement.src = e.target.result;
                };
    
                reader.readAsDataURL(selectedFile);
            }
        });
    </script>
    <script>
       
        const inputContainer = document.getElementById('inputContainer');
        const addInputButton = document.getElementById('addInputButton');

        function addInputField() {
            const inputField = document.createElement('input');
            inputField.type = 'text';
            inputField.placeholder = '250g bột';
            const lineBreak = document.createElement('br');

            inputContainer.appendChild(inputField);
            inputContainer.appendChild(lineBreak);
        }

       
        addInputButton.addEventListener('click', addInputField);
    </script>
    <script>
       
        const inputContainer2 = document.getElementById('inputContainer2');
        const addInputButton2 = document.getElementById('addInputButton2');

      
        function addInputField2() {
            const inputField2 = document.createElement('input');
            inputField2.type = 'text';
            inputField2.placeholder = 'Phần';
            const lineBreak = document.createElement('br');

            inputContainer2.appendChild(inputField2);
            inputContainer2.appendChild(lineBreak);
        }
        

        addInputButton2.addEventListener('click', addInputField2);
    </script>
    <script>function addStep() {
        let container = document.querySelector('.steps-container');
    
        let step = document.createElement('div');
        step.classList.add('step');
    
        let input = document.createElement('input');
        input.setAttribute('type', 'text');
        input.setAttribute('placeholder', 'Nhập bước làm...');
    
        let upload = document.createElement('input');
        upload.setAttribute('type', 'file');
        upload.classList.add('file-input');
    
        let uploadLabel = document.createElement('label');
        uploadLabel.classList.add('upload-label');
        uploadLabel.addEventListener('click', function() {
            upload.click();
        });

        upload.addEventListener('change', function(e) {
        if (e.target.files && e.target.files[0]) {
            let reader = new FileReader();
            reader.onload = function(event) {
                // Cập nhật hình ảnh 
                uploadLabel.style.backgroundImage = 'url(' + event.target.result + ')';
            }
            reader.readAsDataURL(e.target.files[0]);}
        });
    
        let deleteBtn = document.createElement('span');
        deleteBtn.classList.add('delete');
        deleteBtn.innerHTML = '...';
        deleteBtn.addEventListener('click', function() {
            container.removeChild(step);
        });
    
        step.appendChild(input);
        step.appendChild(upload);
        step.appendChild(uploadLabel);
        step.appendChild(deleteBtn);
        container.appendChild(step);
    }
    </script>
</body>
</html>