<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" ../css/monmoi.css">
    <link rel="stylesheet" href="../css/mon.css">
    <link rel="stylesheet" href="mon.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <div class=" bgr">
        <div class="k5">
            <div class="cden text1 ten2k1">Tiếp tục soạn thảo món nháp (2)</div>
            <div class="canngang">
                <div><img src="../../../img/a3.png" class="imgten2"></div>
                <div>
                    <div class="cden">Không đề</div>
                    <div class="pten2">một ngày trước</div>
                </div>
            </div>
            <div class="canngang">
                <div><img src="../../../img/a3.png" class="imgten2"></div>
                <div>
                    <div class="cden">Không đề</div>
                    <div class="pten2">18 ngày trước</div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="k4">
        <div class="kk4">
        <div class="ngang">
        <div class="k41">
            <p class="cden2">Về Cookpad</p>
            <p class="cden2">Sứ mệnh của Cookpad là <span class="cden">làm cho việc vào bếp vui hơn mỗi ngày</span>, vì chúng tôi tin rằng nấu nướng là chìa khoá cho một cuộc sống hạnh phúc hơn và khoẻ mạnh hơn cho con người, cộng đồng, và hành tinh này. Chúng tôi muốn hỗ trợ các đầu bếp gia đình trên toàn thế giới để họ có thể <span class="cden">giúp đỡ nhau</span> qua việc chia sẻ các món ngon và bí quyết nấu ăn của mình.

                <span><a href="#" class="cden text1">Đăng ký gói Premium</a></span> để truy cập các chức năng và quyền lợi dành riêng khác!</p>
            <p class="cden2">Cookpad Communities</p>
            <a href="#" class="cden1">🇦🇷</a>
            <a href="#" class="cden2">Argentina</a>
            <a href="#" class="cden1"> 🇨🇱</a>
            <a href="#" class="cden2">Chile </a>
            <a href="#" class="cden1">Chile</a>
            <a href="#" class="cden2">France</a>
            <a href="#" class="cden1">Ελλάδα</a>
            <a href="#" class="cden2">Magyarország</a>
            <a href="#" class="cden1">India</a>
            <a href="#" class="cden2">Indonesia</a>
            <a href="#" class="cden1">ایران</a>
            <a href="#" class="cden2">Italia</a>
            <a href="#" class="cden1">日本</a>
            <a href="#" class="cden2">Malaysia</a>
            <a href="#" class="cden1">México</a>
            <a href="#" class="cden2">Nigeria</a>
            <a href="#" class="cden1">Portugal</a>
            <a href="#" class="cden2">Российская Федерация</a>
            <a href="#" class="cden1">España</a>
            <a href="#" class="cden2">السعودية</a>
            <a href="#" class="cden1">臺灣</a>
            <a href="#" class="cden2">ไทย</a>
            <a href="#" class="cden1">Україна</a>
            <a href="#" class="cden2">United Kingdom</a>
            <a href="#" class="cden1">Uruguay</a>
            <a href="#" class="cden2">Việt Nam</a>
            <button>See all</button>

        </div>
        <div class="k42">
            <p class="cden2">Learn More</p>
            <a href="#" class="cden2">Cookpad Premium</a><br>
            <a href="#" class="cden2">Careers</a><br>
            <a href="#" class="cden2"> Feedback</a><br>
            <a href="#" class="cden2">Terms of Service</a><br>
            <a href="#" class="cden2">Privacy Policy</a><br>
            <p class="cden1">Download our app</p>
            <a href="#" ><img src="../../../img/ggpl.png" class="imgbutton"></a>
            <a href="#" ><img src="../../../img/ast.png" class="imgbutton"></a>
        </div>
        </div>
        <div class="k43">
        <p class="Copyright cden2 cnho">Copyright © Cookpad Inc. All Rights Reserved</p>
        <img src="../../../img/a2.png" class="a2">
        </div>
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../../slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.your-class').slick({
      slidesToScroll: 1,
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 2,
      adaptiveHeight: true
        });
        });
      </script>
    
</body>
</html>