<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href=" ../css/monmoi.css">
    <link rel="stylesheet" href="../css/mon.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header></header>
    <main>
    <div class=" bgr">
        <div class="k5">
            <div class="cden text1 ten2k1">Tiếp tục soạn thảo món nháp (2)</div>
            <div class="canngang">
                <div><img src="../../../img/a3.png" class="imgten2"></div>
                <div>
                    <div class="cden">Không đề</div>
                    <div class="pten2">một ngày trước</div>
                </div>
            </div>
            <div class="canngang">
                <div><img src="../../../img/a3.png" class="imgten2"></div>
                <div>
                    <div class="cden">Không đề</div>
                    <div class="pten2">18 ngày trước</div>
                </div>
            </div>
        </div>
      
    </div>
    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../../../slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.your-class').slick({
      slidesToScroll: 1,
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 2,
      adaptiveHeight: true
        });
        });
      </script>
    
</body>
</html>