<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/monmoi.css">
    <link rel="stylesheet" href="../css/mon.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header></header>
        <div class=" bgr">
            <div class="k6">
                <div><img src="../../../img/cuong/anhtruot1.png" class="imgk6"></div>
                <div class="k61">
                    <div class="ngang1"><img src="../../../img/cuong/user1.png" class="imgk61">
                        <p>13 đầu bếp gia đình tham gia</p>
                    </div>
                    <div class="k62">
                        <div class="k621"></div>
                    </div>
                    <div class="ngang k63">
                        <div><i class="fas fa-utensils"></i> 55 món</div>
                        <div>Còn 17 ngày</div>
                    </div>
                </div>
            </div>
            <div class="k7">
                <div class="cangiua cden1">
                    <h4>🍱 Mâm Cơm Của Mẹ 👩🏻👵🏻</h4>
                </div>
                <div class="cden1">🍱 "Mâm Cơm Của Mẹ" không chỉ đơn thuần là một nỗ lực để chế biến các món ăn ngon và
                    bổ dưỡng. Đây là sự kết hợp của tình yêu dành cho gia đình và tâm huyết với việc nấu nướng. Cookpad
                    tin rằng mỗi món ăn được làm từ bàn tay người Mẹ đều chứa đựng tất cả yêu thương và kỷ niệm gia
                    đình.<br><br>💐 Hướng đến ngày Phụ Nữ Việt Nam, Cookpad mở ra thử thách "Mâm Cơm Của Mẹ" xuyên suốt
                    tháng 10 này để tất cả các bạn bếp có thể tái hiện lại các món ngon trên mâm cơm của Mẹ mình, dù cho
                    đó chỉ là những món ăn đơn giản quen thuộc nhưng qua cách nấu của Mẹ bỗng mang một hương vị khác
                    biệt mà khó người con nào quên được, bởi chỉ có Mẹ mới hiểu rõ khẩu vị và sở thích của từng thành
                    viên trong gia đình. 💕<br><br>
                    👩🏻‍🍳Thử thách này cũng nhằm tôn vinh công sức và thành quả của các chủ bếp - những người phụ nữ
                    đang làm Mẹ trong mỗi gia đình. Hãy chia sẻ những món cơm nhà mà các bạn thực hiện cho gia đình mình
                    trong tháng này. Dù cho đó là mâm cơm hàng ngày hay trong những dịp đặc biệt như Halloween, người
                    làm Mẹ cũng luôn bỏ công khám phá, sáng tạo các món ngon mới lạ để mang đến sự bất ngờ thú vị cho
                    các con của mình.🎃 Hạnh phúc của người đầu bếp làm Mẹ chẳng phải là thấy các "thực khách" nhà mình
                    tận hưởng món ăn một cách ngon lành, vui vẻ và hào hứng sao? 🥹<br><br>
                    🫶Qua những công thức món ngon, những mâm cơm nhà làm này, bạn cũng có thể gửi kèm những thông điệp
                    yêu thương và vui vẻ đến những người thân yêu và cộng đồng.<br>
                    ✍🏻 Cách tham gia: Lên sóng công thức có đính kèm hashtag #mamcomcuame trong lời giới thiệu.<br><br>
                    🗓 Thời gian gửi món tham gia: 03/10 - 31/10<br><br>
                    Ảnh: Kim Dung @KimDung_88<br>
                </div>
                <br>
                <div class="cangiua"><a href="vietmonthamgia.html" class="guimon">Giửi Món Tham Gia</a></div>
                <br><br>

            </div>
            <div class="k8">
                <h1 class="cden1">58 món đã lên sóng</h1>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k81 ngang">
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                    <div class="kl">
                        <div class="ngang bgrk81">
                            <img src="../../../img/cuong/bonbon.png" class="imgk81">
                            <div><a href="#" class=""><i class="fa-solid fa-ellipsis cham3k8"></i></a></div>
                        </div>
                        <div><img src="https://img-global.cpcdn.com/recipes/58e25134849f60c8/640x640sq70/photo.webp"
                                class="imgk8"></div>
                        <div class="iconk8">
                            <div class="cden1">Mâm cơm chay của mẹ</div><br>
                            <div>
                                <a href="#" class="iconk81">❤️ 2</a>
                                <a href="#" class="iconk81">😋 2</a>
                                <a href="#" class="iconk81">👏 2 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="cangiua"><a href="#" class="xemthem">Xem thêm</a></div>
                <br><br>
            </div>
            <div class="k4">
                <div class="kk4">
                <div class="ngang">
                <div class="k41">
                    <p class="cden2">Về Cookpad</p>
                    <p class="cden2">Sứ mệnh của Cookpad là <span class="cden">làm cho việc vào bếp vui hơn mỗi ngày</span>, vì chúng tôi tin rằng nấu nướng là chìa khoá cho một cuộc sống hạnh phúc hơn và khoẻ mạnh hơn cho con người, cộng đồng, và hành tinh này. Chúng tôi muốn hỗ trợ các đầu bếp gia đình trên toàn thế giới để họ có thể <span class="cden">giúp đỡ nhau</span> qua việc chia sẻ các món ngon và bí quyết nấu ăn của mình.
        
                        <span><a href="#" class="cden text1">Đăng ký gói Premium</a></span> để truy cập các chức năng và quyền lợi dành riêng khác!</p>
                    <p class="cden2">Cookpad Communities</p>
                    <a href="#" class="cden1">🇦🇷</a>
                    <a href="#" class="cden2">Argentina</a>
                    <a href="#" class="cden1"> 🇨🇱</a>
                    <a href="#" class="cden2">Chile </a>
                    <a href="#" class="cden1">Chile</a>
                    <a href="#" class="cden2">France</a>
                    <a href="#" class="cden1">Ελλάδα</a>
                    <a href="#" class="cden2">Magyarország</a>
                    <a href="#" class="cden1">India</a>
                    <a href="#" class="cden2">Indonesia</a>
                    <a href="#" class="cden1">ایران</a>
                    <a href="#" class="cden2">Italia</a>
                    <a href="#" class="cden1">日本</a>
                    <a href="#" class="cden2">Malaysia</a>
                    <a href="#" class="cden1">México</a>
                    <a href="#" class="cden2">Nigeria</a>
                    <a href="#" class="cden1">Portugal</a>
                    <a href="#" class="cden2">Российская Федерация</a>
                    <a href="#" class="cden1">España</a>
                    <a href="#" class="cden2">السعودية</a>
                    <a href="#" class="cden1">臺灣</a>
                    <a href="#" class="cden2">ไทย</a>
                    <a href="#" class="cden1">Україна</a>
                    <a href="#" class="cden2">United Kingdom</a>
                    <a href="#" class="cden1">Uruguay</a>
                    <a href="#" class="cden2">Việt Nam</a>
                    <button>See all</button>
        
                </div>
                <div class="k42">
                    <p class="cden2">Learn More</p>
                    <a href="#" class="cden2">Cookpad Premium</a><br>
                    <a href="#" class="cden2">Careers</a><br>
                    <a href="#" class="cden2"> Feedback</a><br>
                    <a href="#" class="cden2">Terms of Service</a><br>
                    <a href="#" class="cden2">Privacy Policy</a><br>
                    <p class="cden1">Download our app</p>
                    <a href="#" ><img src="../../../img/ggpl.png" class="imgbutton"></a>
                    <a href="#" ><img src="../../../img/ast.png" class="imgbutton"></a>
                </div>
                </div>
                <div class="k43">
                <p class="Copyright cden2 cnho">Copyright © Cookpad Inc. All Rights Reserved</p>
                <img src="../../../img/a2.png" class="a2">
                </div>
                </div>
        </div>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>