<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">    <link rel="stylesheet" href="../css/tips.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header></header>
    <main>
        <div>
        </div>
        <div class="monk3">
            <div class="monk34">
                <textarea id="biquyetID" placeholder="Tựa: Làm sao để cắt hành" rows="4" cols="50"></textarea>
                <div class="steps-container">
                </div>
                <div>
                    <button onclick="addStep()" class="buoclam"><i class="fa-solid fa-plus x"></i> Bước làm</button>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer></footer>
    <script src="../js/tips.js"></script>
    <script src="../js/loadHeaderFooter.js"></script>
</body>

</html>