<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../../../slick/slick.css">
    <link rel="stylesheet" href="../../../slick/slick-theme.css">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/user.css">
</head>

<body>
    <header></header>
    <main>
        <div class="profile-container">
            <div class="profile-header">
                <div class="user-info">
                    <div class="avatar">
                        <img src="https://img-global.cpcdn.com/users/58760984ffe13ca7/108x108cq50/avatar.webp"
                            alt="Phú" />
                    </div>
                    <div class="user-details">
                        <h1>Phú</h1>
                        <p>
                            <span class="username">@puh1001</span>
                            <a class="btn btn-view-profile">Xem Trang Bếp</a>
                        </p>
                    </div>
                </div>
                <div class="profile-actions">
                    <a class="btn btn-follow">Bạn Bếp</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/vn/users/39570465/block/new?ref=">Chặn</a>
                    </div>
                </div>
            </div>

            <div class="profile-navigation">
                <ul class="nav-links">
                    <li class="active">
                        <a href="/vn/me/bookmarks?via=tab">Đã lưu</a>
                    </li>
                    <li>
                        <a href="/vn/me/recipes">Món Của Tôi</a>
                    </li>
                    <li>
                        <a href="/vn/me/sent_cooksnaps">Cooksnap</a>
                    </li>
                    <li>
                        <a href="/vn/me/tips">Bí quyết</a>
                    </li>
                    <li>
                        <a href="/vn/me/cookbooks">Cookbook</a>
                    </li>
                </ul>
            </div>

            <div class="profile-content">
                <div class="recipe-header">
                    <div class="recipe-count">0 món</div>
                    <form class="recipe-search-form" method="get">
                        <div class="search-input">
                            <input type="text" id="bq" placeholder="Tìm Món" />
                        </div>
                        <input type="submit" value="Tìm" class="search-button" />
                    </form>
                </div>

                <div class="empty-state">
                    <img
                        src="//global-web-assets.cpcdn.com/assets/empty_states/no_bookmarks-496066a48bfb2bc28a2527a78b0870d7e17b794c2bcae70026647206e568a464.svg" />
                    <div class="empty-message">
                        <h2>Xem món đã lưu tại đây :)</h2>
                        <p>
                            Lưu món yêu thích bằng cách nhấn vào biểu tượng lưu ở mỗi trang công thức.
                        </p>
                        <a class="btn btn-dark" href="/vn/search_landing">Bắt đầu tìm kiếm mới</a>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
</body>

</html>