<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="../../../icons/PuhChef_ba-style@nulla.top.png">
    <title>Cooky - Nấu ăn vui vẻ mỗi ngày!</title>
    <link rel="stylesheet" href="../css/monmoi.css">
    <link rel="stylesheet" href="../css/mon.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header></header>
    <main>
        <div class=" bgr">
            <div class="k9">
                <div class="cden1 cchonmon">Chọn món</div>
                <br>
                <div class="cden1 s">Tham gia với bất kỳ món nào đã lên sóng sau 3 tháng 10 năm 2023</div>
            </div>
            <div class="k1">
                <div class="cangiua">
                    <img src="../../../img/cuong/anhh1.svg" class="a1">
                    <h3 class="text1">Chưa có món nào</h3>
                    <p class="text1">Bạn vẫn chưa lên sóng món nào phù hợp với thử thách</p>
                    <br>
                    <div>
                        <a href="mon.html"><button class="recipe text2">Viết món mới</button></a>

                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </main>
    <footer class="flex center"></footer>
    <script src="https://kit.fontawesome.com/cbae906f24.js" crossorigin="anonymous"></script>
    <script src="../js/loadHeaderFooter.js"></script>
    <script src="../js/loadedHFter.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.your-class').slick({
                slidesToScroll: 1,
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 2,
                adaptiveHeight: true
            });
        });
    </script>

</body>

</html>