/* Add css by puh */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', 'Roboto', sans-serif, monospace;
}

body {
    background-color: #f8f6f2;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

.space-ar {
    justify-content: space-around;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.t-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.py-search-xs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-search-rg {
    padding-right: 1rem;
    padding-left: 1rem;
}

.mg-px-search-rg {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mg-py-search-xs {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mg-center {
    margin: 0 auto;
}

.pd-center {
    padding: 0 auto;
}

.no-background {
    background: none;
}

.space-bw {
    justify-content: space-between;
}

.border {
    border: 1px-search solid black;
}

.round-full {
    border-radius: 9999px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

li>a {
    padding-right: 1rem;
    padding-left: 1rem;
}

li>a>p {
    margin-bottom: -.6rem;
    padding-left: .5rem;
}

/* content */
.bgr-addNF {
    background-color: rgb(248, 246, 242);
}

.addfoodct-addNF {
    width: 50vw;
    height: 50vh;
    background-color: white;
    padding-top: 20px;
}

.logo-addNF {
    width: 20vw;
    height: auto;
}

.recipe-addNF,
.tips-addNF {
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.recipe-addNF,
.tips-addNF {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.text1-addNF {
    color: #4a4a4a;
}

.k2-addNF {
    border: 1px solid rgb(255, 255, 255);
    width: 680px;
    height: 260px;
    background-color: rgb(248, 246, 242);
}

.k2img-addNF {
    border-radius: 5px;
    height: 200px;
    margin-right: 5px;
}

.bl-gr-text {
    color: #4a4a4a;
}
.gr-text {
    color: #939290;
}