/* Add css by puh */
.flex {
    display: flex;
}
.center {
    justify-content: center;
}
.t-center{
    justify-content: center;
    align-items: center;
}
.py-search-xs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-search-rg {
    padding-right: 1rem;
    padding-left: 1rem;
}
.mg-px-search-rg {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mg-py-search-xs {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.mg-center {
    margin: 0 auto;
}
.pd-center {
    padding: 0 auto;
}
.no-background {
    background: none;
}
.space-bw {
    justify-content: space-between;
}
.border {
    border: 1px-search solid black;
}
.round-full {
    border-radius: 9999px;
}
ul {
    list-style: none;
}
li {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
li > a {
    padding-right: 1rem;
    padding-left: 1rem;
}
li > a > p {
    margin-bottom: -.6rem;
    padding-left: .5rem;
}