@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', 'Roboto', sans-serif, monospace;
}
body {
    background-color: #f8f6f2;
}

.wrapper {
    width: 80vw;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    padding: 0px;
}


a {
    text-decoration: none;
    color: black;
}

.khocamung {
    margin-right: 10px;
    border-bottom: 2px solid orange;
}

h1 {
    font-size: 30px;
}

.chonnguyenlieu {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9e3c7;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.gach-chan {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}


.mon-an {
    display: flex;
    margin: 15px 0;
}

.menu {
    display: flex;
    align-items: center;
}

.mon-an a {
    padding: 8px 15px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #ecebe9;
    z-index: 998;
}

.mon-an a:hover {
    background-color: #cececd;
}

.tab {
    display: none;
    flex-direction: row;
}

.tab.active {
    display: flex;
}

.tab a {
    padding: 8px 10px;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0.5;
    color: black;
    font-size: 15px;
}

/* .tab .active {
    opacity: 1;
    border-bottom: 1px solid orange;
} */

.tab .menu:hover {
    opacity: 1;
}

.khung {
    width: 250px;
    margin-right: 6px;
    position: relative;
}

.demo-mon-an {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.img1 {
    width: 249px;
    border-radius: 5px 5px 0px 0px;
}

.demo-mon-an-1 {
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.tieu-de-mon {
    padding: 7px 10px 7px 5px;
}

.selected {
    border-bottom: 2px solid orange;
}

.icon {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
}

button {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.like {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 5px 5px 10px 5px;
    padding: 1px 5px 1px 5px;
    background-color: #ecebe9;
}

#likeCount,
#likeButton,
#timButton,
#timCount,
#votayButton,
#votayCount {
    font-size: 13px;
}

.monkhac {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.monkhac-1 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.monkhac-1,
i {
    margin-right: 10px;
    font-size: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 0px;
}

.demo-mon-moi {
    display: flex;
}

.tp-dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.input-text {
    height: 25px;
    border: none;
}

.input-text:focus {
    outline: none;
}

.shear-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white;
    margin-right: 10px;
    padding: 2px 7px 2px 7px;
}

.demo-tpdd {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.img2 {
    width: 70px;
    height: 50px;
    margin: 5px 0px 15px 7.5px;
    border-radius: 5px;
}

/* .limited {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 7em;
} */

.limited-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-height: 1.6;
    max-height: 11.2em;
}


.limited {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5=6;
    line-height: 1.6;
    max-height: 11.2em;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.counter {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.kieu-chu-mon-chay {
    color: white;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.ban-dang-them-mon-gi {
    display: flex;
}

.tieu-de-ban-dang-them-mon-gi {
    padding: 0px;
    margin-top: 35px;
}

.kieu-chu-tieu-de-ban-dang-them-mon-gi {
    font-size: 17px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #939290;
}

.tao-bat-ngo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boder-tao-bat-ngo {
    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.can-giua-ten {
    display: flex;
    align-items: center;
}

.anh-1 {
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
}

.the-a-hien-thong-tin-tom-tat {
    position: relative;
    display: inline-block;
}

.fa-bookmark {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: white;
}

.anh-dai-dien {
    border-radius: 50%;
    margin-right: 10px;
}

.fa-solid {
    padding-right: 5px;
}

.thong-tin-nguoi-dung {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 6px;
}

.hover-the-i {
    display: none;
    pointer-events: none;
}

.hover-the-i {
    pointer-events: none;
}

.display-flex-menu-the-i {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.menu-the-i {
    display: none;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
}

.border-the-i {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: white;
}

.thong-tin-nguoi-dung:hover+.hover-the-i {
    display: block;
    position: absolute;
    top: 20px;
    right: -80px;
    padding: 2px 5px 2px 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hover-the-i-xem-them {
    margin: 0px;
}

.margin-ringht-6px {
    margin-right: 6px;
}

.ten-mon {
    margin-right: 15px;
    margin-left: 10px;
}

.mon-moi-nhat {
    margin-top: 50px;
}


.mon {
    display: none;
}

.display-flex {
    display: flex;
}

.anh-them-so {
    position: relative;
}

.border-2 {
    position: absolute;
    bottom: 15%;
    left: 40%;
    color: white;
    font-size: 20px;
}

.tieu-de-bi-quyet-nau-an {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.khung-cooksnap-moi-nhat {
    width: 335px;
    margin-right: 6px;
}

.anh-cooksnap-moi-nhat {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    margin-right: 10px;
}

.thong-tin-cooksnap-moi-nhat {
    display: flex;
    margin: 20px;
}

.tieu-de-cooksnap-new {
    margin: 0px;
}

.border-cooksnap-new {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.ten-mon-cooksnap-new {
    margin: 20px 10px 10px 20px;
    color: #939290;
}

.add-comment-cookspad-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thoi-gian {
    margin: 0px;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
}